@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contact {
    background: url("/media/handmadepaper.png");
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 65px;
}

.contactTitle {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

.socialCircle {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    border: 1px solid #ddd;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.github:hover {
    background: #000;
    color: #fff;
    border: none;
}

.telegram:hover {
    background: #33A8D9;
    color: #fff;
    border: none;
}

.gmail:hover {
    background: #EC4134;
    color: #fff;
    border: none;
}

.instagram:hover {
    
    background: #CF3A73;
    color: #fff;
    border: none;
}

.linkedin:hover {
    background: #2868B2;
    color: #fff;
    border: none;
}

.contactLine {
    padding-top: 2em;
    background: url("/media/letter-lines.png") left top repeat-x;
    background-size: 45px 5px;
}

.contactName {
    font-family: 'Sacramento', cursive;
}

.contactEmail {
    font-style: italic;
    color: #C25337;
    font-size: 12px;
    margin-bottom: 0;


}

.contactEmail:hover {
    color: #C25337;
}

.contactEarth {
    font-size: 14px;
    margin-bottom: 0;
}

.contactEarth::before {
    content: "- ";
    color: #333;
}

.contactLabel {
    width: 30%;
    font-family: 'Raleway';
    font-family: sans-serif;
    font-weight: 550;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.inputContact {
    margin-bottom: 20px;
    padding: 10px;
    transition: 1s;
    width: 100%;
    font-size: 14px;
    color: #345;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none;
}

.inputContact:focus {
    border: 1px solid #C25337;
}

.sendMessage {
    padding: 10px 20px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
    outline: 0;
    border: 2px solid #345;
    color: #345;
    transition: .5s;
    margin-right: 0;
    margin-left:auto;
    display:block;
}

.sendMessage:hover {
    background: #345;
    color: #fff;
}

.stamp {
    position: relative;
    width: 114px;
    height: 134px;
    background: url("/media/stamp.png") 0 0 no-repeat;
    img {
        display: block;
        width: 94px;
        height: 114px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.stamp:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/media/stamp-mask.png") 0 0 no-repeat;
}

@media screen and (max-width: 991px) {
    .contact {
        padding-top: 40px;
        animation: animation 1s normal;
    }
}