@keyframes animation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.book {
  position: relative;
  width: 500px;
  height: 600px;
  transition: transform 1s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.paper1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 1s;
  background: url("/media/handmadepaper.png");
}

.front {
  z-index: 1;
  backface-visibility: hidden;
}

.back {
  z-index: 0;
}

.front-content,
.backContent {
  width: 100%;
  height: 100%;
}

.backContent {
  transform: rotateY(180deg);
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

.front1,
.back1 {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right;
  transition: transform 1s;
  background: url("/media/handmadepaper.png");
}

.front1 {
  z-index: 1;
  backface-visibility: hidden;
}

.back1 {
  z-index: 0;
  box-shadow: -3px 0 12px -8px rgb(0 0 0 / 40%);
  box-shadow: 2px 0 7px -5px rgb(0 0 0 / 40%), -4px 0 10px -8px rgb(0 0 0 / 40%);
}

.front1-content,
.back1Content {
  width: 100%;
  height: 100%;
  
}

.flipped .front1,
.flipped .back1 {
  transform: rotateY(180deg);
}

.flipped1 .front1,
.flipped1 .back1 {
  transform: rotateY(180deg);
}

.close {
  width: 40px;
  height: 40px;
  background: #333;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transform: rotate(-90deg);
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 22px;
}

.close:hover {
  color: #ddd;
}

.close::before {
    border-right-width: 24px !important;
    cursor: pointer;
    border-left-color: transparent !important;
    content: '';
    position: absolute;
    display: block;
    right: 40px;
    border: 20px solid #333;
    z-index: -1;
}
  
.buttons {
  padding-top: 50px;
  padding-right: 80px;
}

.mainBookSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  grid-area: 40px;
  padding-top: 50px;
  padding-left: 20px;
}

.desTitle {
  color: #E65F78;
  font-weight: bold;
  font-family: 'Raleway';
  text-shadow: rgb(0 0 0 / 40%) 1px 1px 0, rgb(0 0 0 / 40%) 2px 1px 0;
  font-size: 20px;
}

.subDesTitle {
  font-family: 'Raleway';
  font-size: 20px;
  padding-bottom: 16px;
}

.openPage {
  width: 40px;
  height: 40px;
  background: #FF4A57;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  color: #811919;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 0 rgb(255 255 255 / 20%);

  strong {
    padding-top: 7px;
    padding-bottom: 7px;  
  }
}

.openPage::before {
  border-right-width: 24px !important;
  cursor: pointer;
  border-left-color: transparent !important;
  content: '';
  position: absolute;
  display: block;
  right: 40px;
  border: 20px solid #FF4A57;
  z-index: -1;
}

.openPage:hover {
  width: 56px;
  transform: scaleX(1.1);
  font-size: 14px !important;
}

.nameTitle {
  padding-top: 20px;
  font-size: 50px;
  text-shadow: #253e45 -1px 1px 0, #253e45 -2px 2px 0, #E65F78 -3px 3px 0, #E65F78 -4px 4px 0;
  color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Alfa Slab One';
}

.info {
  padding-top: 2px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-shadow: rgb(0 0 0 / 40%) 1px 1px 0, rgb(0 0 0 / 40%) 2px 2px 0;
  font-family: 'Nixie One';
  line-height: 1.2;
  letter-spacing: 1px;
}

.description {
  color: #fff;
  font-size: 20px;
}

.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: url("/media/cover-2.jpg");
  box-shadow: -8px 0 30px -8px rgb(0 0 0 / 40%);
}

.mainBackground {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: url("/media/cover.jpg");
  box-shadow: -8px 0 30px -8px rgb(0 0 0 / 40%);
}

.nextButton {
  margin-left: 100px;
}

.nextPageAnish {
  position: absolute;
  top: 50%;
  left: 92%;
}

.firstLine {
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  width: 85px;
  -webkit-box-shadow: 0px 0px 2px rgb(255 255 255 / 50%);
  box-shadow: 0px 0px 2px rgb(255 255 255 / 50%);
}

.mobileSideDes {
  padding-left: 25px;
  padding-right: 25px;
  color: #E65F78;
  font-family: "Raleway";
  font-weight: bold;
}

.scroll::-webkit-scrollbar {
  width: 4px;

}

.scroll::-webkit-scrollbar-track {
  background: transparent;

}

.scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 7px;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background: rgb(170, 169, 169);
  border-radius: 7px;
}

@media screen and (max-width: 991px) {
  .mainBookSection {
    display: none;
  }

  .book {
    width: 100%;
    height: 100%;
  }
  .nameTitle, .info, .intro, .openPage {
    animation: animation 1s normal;
  }
}

@media screen and (max-width: 380px) {
  .desTitle, .info {
    font-size: 17px;
  }
  .nameTitle {
    font-size: 44px;
  }
  .openPage {
    strong {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 991px) {

  .mobileCover {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1530px) {
  .book {
    width: 460px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .book {
    width: 320px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1530px) {
  .book {
    width: 390px;
  }
}